
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{ 
    background-color: lightblue;
}

.nav-bar{
    word-spacing: 50px;
    display: inline;
    padding: 20px;
    background-color:whitesmoke;
    width:100%;
    position: fixed;
    align-items: center;
    text-decoration: none;
    font-size: x-large;
    font-weight: 700;
    
}  
.paragraphs{ 
    padding: 100px;
    width: 100%;
    display: inline;
    align-items: center;
    
}